<!-- <div class= "loader" > </div> -->



<!-- <div class = "before_result ">
<h4> We are getting your perfect match! </h4>
</div> -->


<div class="before_wrapper">
  <div id="preloader"></div>
    <div class = "before_result ">
    <h3 style="color:#055A4F;"> We are getting your perfect match!</h3>
    </div>
 </div>

<script>
  function Redirect()
  {
    window.location.href = window.location.origin + "/questions/result";
  }
  setTimeout('Redirect()', 2500);
</script>
