<body>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</body>

<script>
  function Redirect()
  {
    window.location.href = window.location.origin + "/questions/result";
  }
  setTimeout('Redirect()', 2100);
</script>


