<h1>Questions#result</h1>
<p>Find me in app/views/questions/result.html.erb</p>


<div class="question-container container">
  <div class="header">
    <h5>@category.name > @sub_category.name</h5>
  </div>
  <div class = question>
    <p>Yay! your perfect match </p>
  </div>
  <div class="row-item col-xs-12">
    <p>This will be the main result</p>
    <button type="submit" class="btn-link text-danger">Buy now</button>
  </div>
  <div class="row-item col-xs-12">
    <button type="submit" class="btn-link text-danger">Buy now</button>
    <p>Second chioce</p>
  </div>
  <div class="row-item col-xs-12" >
    <button type="submit" class="btn-link text-danger">Buy now</button>
    <p>Third choice</p>
  </div>
</div>


