
<!-- http://localhost:3000/questions/result -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="question-container container">
 <!--  <div class="header">

   <h5>Electronics > Headphones</h5>
 </div> -->
 <div class = "yay_bar">
  <p>Yay! 🎉 Your perfect match </p>
</div>
</div>

<div class="result-wrapper">
  <div class="card__image border-tlr-radius">
    <img src="http://res.cloudinary.com/dzcerxkyh/image/upload/v1527863789/first_headphones.jpg" alt="image" class="border-tlr-radius">

  </div>
  <div class="card__content card__padding">
    <div class="card__meta">

     <!--  <a href="#" style="font-weight: bold;">€ 34.61</a> -->
   </div>
   <article class="card__article">
    <div style="
    display: flex;
    justify-content: space-between;
    align-items: center;">
    <h2>SoundMAGIC E50</h2>
    <a href="https://www.amazon.com/SoundMAGIC-E50-Ear-Isolating-Earphones/dp/B00UVASGIM/ref=sr_1_3?ie=UTF8&qid=1528449087&sr=8-3&keywords=soundmagic+e50s" class="btn btn-secondary buy-now">Buy now</a>
  </div>

  <p style="font-size: 18px;"><strong>$ 46.99</strong></p>

  <div class="main-product-description">
  <p>-Powerful bass balanced with superb musical detail</p>
  <p>-Comfortable Fit and Distinctive Design</p>
  </div>

  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <p style="font-size: 18px;"> Extremely satisfied with these "mid priced" ear buds. For the price you can't beat the sound quality.</p>
</article>


<article class="card__article">
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star"></span>

  <p style="
  font-size: 18px;
  ">The chord is excellent. Quiet and doesn't tangle easily.</p>
</article>


</div>


<div class="sec_th_result shadowDepth1">
 <img class="small-images" src="http://res.cloudinary.com/dzcerxkyh/image/upload/v1527863789/second_headphones.jpg" alt="im" >
 <!--    <h5>@category.name > @sub_category.name</h5> -->
 <div class="product-description">
  <p><strong>RHA S500u</strong></p>
  <p> <b>$ 42</b></p>
</div>
<a href="https://www.amazon.com/SoundMAGIC-E50-Ear-Isolating-Earphones/dp/B00UVASGIM/ref=sr_1_1?ie=UTF8&qid=1527847691&sr=8-1&keywords=soundmagic+e50" class="btn btn-secondary buy-now" role="button">Buy now</a>
</div>
<div class="sec_th_result shadowDepth1">
 <img class="small-images" src="http://res.cloudinary.com/dzcerxkyh/image/upload/v1527863789/third_headphones.jpg" alt="im">
 <!--    <h5>@category.name > @sub_category.name</h5> -->
 <div class="product-description">
  <p><strong>Oppo PM-3</strong></p>
  <p><b>$ 37</b></p>
</div>
<a href="https://www.amazon.com/SoundMAGIC-E50-Ear-Isolating-Earphones/dp/B00UVASGIM/ref=sr_1_1?ie=UTF8&qid=1527847691&sr=8-1&keywords=soundmagic+e50" class="btn btn-secondary buy-now" role="button">Buy now</a>
</div>
</div>






