
<div class="question-container container">
  <div class="header">
    <h5>@category.name > @sub_category.name</h5>
  </div>
  <div class = question>
    <p>Question</p>
  </div>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="720"
    aria-valuemin="0" aria-valuemax="100" style="width:70%">
    </div>
  </div>

    <div class="row-item col-xs-12">
      <p>Answer 1</p>
    </div>
    <div class="row-item col-xs-12">
      <p>Answer 2</p>
    </div>
    <div class="row-item col-xs-12">
      <p>Answer 3</p>
    </div>
    <div class="row-item col-xs-12">
      <p>Answer 4</p>
    </div>
    <div class="row-item col-xs-12">
      <p>Answer 5</p>
    </div>
    <h1><%= @progress %></h1>
</div>



