
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> -->

<div class="load_page_img">
  <%= link_to image_tag("solvd.png", class: "img-responsive") %>
</div>

<%= javascript_pack_tag 'animate' %>

<script>
  function Redirect()
  {
    window.location.href = window.location.origin + "/categories";
  }
  setTimeout('Redirect()', 2500);
</script>


<!-- <script>

  // Get the time now at the beginning and store it inside a constant

  // Every 5 seconds call a function that checks whether it has been 5 seconds that I am on the page

  // If my time now is then greater than my start time, I redirect
  // window.location.href = window.location.origin + "/categories"

</script> -->


