.favorites-title {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
     }

.display-quiz-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 2px 0px;
  padding: 10px;
  height: 100px;
  p {
    font-size: 14px;
  }
}

.display-quiz-bar-title {
  width: 33.33%;
  margin: 3px;
  font-weight: 400;
  margin-top: 0;
  line-height: 1;
  font-size: 16px;
  letter-spacing: 0px;
  font-family: varela
}
