// @import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Roboto:700,400';

.yay_bar {
  background: #C0C0C0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5px;
  height: 50px;
  margin-bottom: 5px;


}
  p {
    margin: 1px 0px 0px;
}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**
 * Basics Styles
 */
html.questions.result {
  font-size: 62.5%;
}
body.questions.result {
  background-color: #eee;
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 1.6;
  color: #666;
}

a.questions.result {
  text-decoration: none;
  color: #3498db;
}
  a:hover {
    color: #2980b9;
  }

h2.questions.result {
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

.result-wrapper {
  max-width: 400px;
  margin: 180px auto;
  padding-left: 5px;
  padding-right: 5px;
}

/**
 * Helpers
 */


.text-center { text-align: center; }

.radius { border-radius: 2px; }

.padding-tb { padding-top: 1.6rem; padding-bottom: 1.6rem;}

.shadowDepth0 { box-shadow: 0 1px 3px rgba(0,0,0, 0.12); }

.shadowDepth1 {
   box-shadow:
      0 1px 3px rgba(0,0,0, 0.12),
      0 1px 2px rgba(0,0,0, 0.24);
}


/**
 * Card Styles
 */

.card-result  {
  background-color: #fff;
  margin-bottom: 1.6rem;
  position: relative;
  z-index: 1;
  margin-top: -45px;
}

.card__padding {
  padding: 0.6rem;
}

.card__image {
  height: 250px;
  background-color: #eee;
}
  .card__image img {
    width: 100%;
    max-width: 100%;
    display: block;


  }


/* card meta */
.card__meta time {
  font-size: 1.5rem;
  color: #bbb;
  margin-left: 0.8rem;

}

/* card article */
.card__article a {
  text-decoration: none;
  color: #444;
}


.card__article h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

  .card__article a:hover {
    color: #2980b9;
  }

a {
    color: black;
    text-decoration: none;
}
/* card action */
.card__action {
  overflow: hidden;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  padding-bottom: 1.6rem;
}

.checked {
    color: orange;
}

.buy-now {
  position: absolute;
  right: 8px;
  bottom: 135px;
  background-color: $light-gray;
  z-index: 100;
  border-radius: 2px;
}



.sec_th_result {
  background: #E8E8E8;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
  height: 75px;
  position: relative;

    .buy-now {
    position: absolute;
    right: 5px;
    bottom: 15px;
    background-color: $light-gray;
    z-index: 100;
    border-radius: 2px;
  }

}


img.small-images {
  height: 50px;
  position: absolute;
  left: 6px;
}

.product-description h5 {
  font-size: 14px;
  right: 10px;
  padding-right: 10px;
}


