.searchbar {
  background: #055A4F;
  display: flex;
  height: 70px;
  padding: 15px;
  color: rgba(0,0,0,0.3);
  width: 100%;
  top: 0;
}


::placeholder { /* Most modern browsers support this now. */
   color: #111111;

   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: 12px;
}

.header-form {
    background-color: #ff000000;
    border: none;
    width: 195px;
}

.search-block {
  display: flex;
  .fa-search {
    color: #8d8d8d;
    font-size: 24px;
    margin-right: 15px;
  }
}

.searchterm {
  background: #f4f4f4;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}






// .searchbar {
//   width: 100%;
//   position: relative
// }

// .searchTerm {
//   float: left;
//   width: 100%;
//   border: 3px solid #00B4CC;
//   padding: 5px;
//   height: 40px;
//   border-radius: 5px;
//   outline: none;
//   color: #9DBFAF;
// }

// .searchTerm:focus{
//   color: #00B4CC;
// }

// .searchButton {
//   position: absolute;
//   right: -50px;
//   width: 40px;
//   height: 36px;
//   border: 1px solid #00B4CC;
//   background: #00B4CC;
//   text-align: center;
//   color: #fff;
//   border-radius: 5px;
//   cursor: pointer;
//   font-size: 20px;
// }

// /*Resize the wrap to see the search bar change!*/
// .wrap{
//   width: 50%;
//   position: absolute;
//   top: 80%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }
