

<div class="searchbar">
  <div class="searchterm">
    <div class="search-block">
    <i class="fas fa-search"> </i>
    <%= form_tag  questions_search_path, method: :get do %>
    <%= text_field_tag :query, params[:query], placeholder: "Search for products", class: "header-form" %>
    <% end %>
    </div>
  </div>
</div>


<h4>Explore Categories</h4>
<div class="carousel">
 <% @categories.each do |category| %>
 <div class="carousel-item">
  <div class="card">
    <div class="card__image">
      <%= cl_image_tag category.photo, height: 250, width:250, crop: :fill %>
    </div>
    <div class="card__info">
      <h2 class="card__title"><%= category.name %></h2>
    </div>
  </div>
</div>
<% end %>
</div>
<h4>Recommended Electronics</h4>

<%#= cl_image_tag("guhfrdwlw7vscqgjjw3w.jpg") %>



